---
import { Image } from 'astro:assets';
import H1 from "../../components/h1.astro";
import InfoLayout from "../../layouts/InfoLayout.astro";
import ACGenerator from "../../assets/lorelins.jpg";
import FluidPropulsion from "../../assets/importa.jpg";
import ElectricMotor from "../../assets/cuna.jpg";
import { getLangFromUrl, useTranslations } from '../../i18n/utils';
import SpotlightCard from '@/components/SpotlightCard';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const projects = [
     {
          title: "Lorelins",
          description: t("projects.lorelins.description"),
          image: ACGenerator,
          link: "https://lorelins.com/"
     },
     {
          title: "Importatucoche",
          description: t("projects.importatucoche.description"),
          image: FluidPropulsion,
          link: "https://importatucoche.es/"
     },
     {
          title: "Cuna del Alma",
          description: t("projects.cuna.description"),
          image: ElectricMotor,
          link: "https://cunadelalma.com/"
     }];
---

<InfoLayout>
     <div class="p-4 sm:pt-8 sm:px-12 pb-20 min-h-dvh">
          <H1> {t("projects.title")} </H1>

          <ul class="mt-4 sm:mt-12 grid grid-cols-1 lg:grid-cols-2 xl:grid-cols-3 gap-16 sm:gap-8">
               {projects.map((project) => (
                    <li>
                         <a href={project.link} target="_blank" rel="noopener noreferrer">
                              <SpotlightCard client:visible className="h-full !p-0" spotlightColor="rgba(161, 161, 170, 0.2)">
                                   <Image src={project.image} alt={project.title} class="aspect-[16/9] object-center object-cover rounded-t-3xl shadow-lg" />
                                   <div class="p-6">
                                        <h2 class="text-lg font-medium text-zinc-100">{project.title}</h2>
                                        <p class="text-base text-zinc-400 text-balance mt-1">{project.description}</p>
                                   </div>
                              </SpotlightCard>
                         </a>
                    </li>
               ))}
          </ul>
     </div>
</InfoLayout>